@{
    ViewData["Title"] = "Products";
    @model IEnumerable<Product>
}

<div class="text-center">
    <h1 class="display-4">Mina produkter</h1>

  <ul>
    @foreach (var category in Model.Select(p => p.Category).Distinct())
    {
        <li><a href="@Url.Action("Links", "Product", new { category = category })">@category</a></li>
    }
</ul>
</div>