@{
    ViewData["Title"] = "Kontakt";
}
<img src="/Images/CGubbe.jpg" alt="Bild på uppfinnaren">
<h1>Kontakt</h1>
<p>E-post: uppfinnaren@träslöjd.se</p>
<p>Besöksadress: Snickargatan 12, 12345 Hantverksstaden</p>
