@{
    ViewData["Title"] = "Kontakt";
}

<h1 class="text-center">Kontakt</h1>
<p class="text-center">E-post: bengt@snickeri.se</p>
<p class="text-center">Besöksadress: Snickargatan 12, 12345 Hantverksstaden</p>
<p class="text-center">Telefonnummer: 070123123123</p>