@{
    ViewData["Title"] = "Kontakt";
}

<h1 class="text-center">Kontakt</h1>
<p class="text-center">E-post: bengt@skaperi.se</p>
<p class="text-center">Besöksadress: Hantverkargatan 1337, 12345 Skapeborg</p>
<p class="text-center">Telefonnummer: 070123123123</p>